
/**************** TYPOGRAPHY VARIABLES *******************/
$body-font-size: 18px;
$baseline: $body-font-size * 1.5;
$theme-margin: $baseline * 3;

$heading-font: "Lato", "Helvetica Nue", Helvetica, Arial, sans-serif;
$body-font: "Open Sans", "Helvetica Nue", Helvetica, Arial, sans-serif;
 
/**************** Colors *******************/
$color-link: #F36151;
$color-text: #2e2e2e;
$color-button-1: #f2ae5d;
$color-border: #919191;
$color-dark-bg: #333538;
$color-light-text: #989898;
$color-hr: #eaeaea;


